[Unit]
Description=Root

[Service]
Type=simple
User=root
ExecStart=/usr/bin/geth init --datadir /run/chain/node/root /run/chain/node/genesis.json
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target