[Unit]
Description=Root

[Service]
Type=simple
User=root
ExecStart=source /run/chain/root/start-server.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target